<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">UTN Laboratorio 4 - Ejercicios resueltos</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" (click)="onClick('ejercicioUno')">Ejercicio 1</a>
        <a class="nav-item nav-link" (click)="onClick('ejercicioDos')">Ejercicio 2</a>
      </div>
    </div>
</nav>