<div class="col col-6">
    <div class="card">
        <h5 class="card-header">Consigna Ejercicio 2</h5>
        <div class="card-body">
            <p class="card-subtitle text-muted">
                Realizar: <br>
                    - La clase usuario con nombre y clave ,<br>
                    - El componente "Bienvenido"<br>
                    - El componente "login"<br>
                    - El componente "error"<br>
                    - Clase usuario con nombre y clave <br>    
                    - Hacer ruteo <br>
                    - Hacer login <br>
            </p>

            <p class="card-text">
                Para facilitar los links y orden decidí hacerlo en otro heroku.
                Direccion del ejercicio 2: <br>
            <a href="https://utn-lab4-matiashamie-login.herokuapp.com/login">
                Ir a Ejercicio 2
            </a>
                
            </p>
            
        </div>
        <div class="card-footer">
            <button class="btn btn-outline-secondary"
                    (click)='onBack()'
                    style='width: 80px;'>
                    Volver
            </button>
        </div>
    </div>
</div>